<link rel="stylesheet" href="/css/interview.css" />

<div id="outer">
  <% if(locals.user) {%>
  <button
    type="button"
    class="btn bg-light main-button"
    onclick="toggler()"
    id="btn-main"
  >
    Open Form
  </button>

  <div id="collapse" class="main-container" style="display: none">
    <form action="/interview/create-interview" class="form-1" method="POST">
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input
          type="text"
          class=""
          id="companyName"
          placeholder="Company Name"
          name="companyName"
          required
        />
      </div>

      <div class="form-group">
        <label for="batch">Date</label>
        <input type="date" class="" id="date" name="date" required />
      </div>

      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-primary col-md-6">
          Add Interview
        </button>
      </div>
    </form>

    <form class="form-2" action="/interview/add-student" method="POST">
      <div class="form-group">
        <!-- <label for="batch">Interview Date</label>
        <input type="date" class="" id="date" name="date" required /> -->
        <label for="companyName">Company Name</label>
        <input
          type="text"
          class=""
          id="companyName"
          placeholder="Company Name"
          name="companyName"
          required
        />
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="student">Allocate Student</label>
          <select
            id="student"
            class="form-control"
            style="background-color: #d8d8d8"
            name="student"
          >
            <% for(student of students) { %>
            <option value="<%=student.id %>" selected>
              <%=student.name %><span> (<%=student.email %>)</span>
            </option>
            <%}%>
          </select>
        </div>
        <div class="form-group col-6">
          <label for="student">Result</label>
          <select
            id="result"
            class="form-control"
            style="background-color: #d8d8d8"
            name="result">
            <option value="PASS">PASS</option>
            <option value="FAIL">FAIL</option>
            <option value="On Hold">On Hold</option>
            <option value="Did not attempted"  selected>Did not attempted</option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-1">
        <button type="submit" class="btn btn-primary col-md-6">Allocate</button>
      </div>
    </form>
  </div>
  <%}%>

  <!-- Student List -->
  <div id="list-container">
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col" class="thead-th" colspan="4">Interview Date</th>
          <th scope="col" class="thead-th" colspan="4">Company Name</th>
          <% if(locals.user){ %>
          <th scope="col" class="action-header thead-th" colspan="1">
            Action
          </th>
          <%}%>
        </tr>
      </thead>
      <tbody>
        <% for(interview of interviews){%> 
          <%- include('_interviewList.ejs'); -%> 
          <%}%>
      </tbody>
    </table>
  </div>
</div>

<script>
  function toggler() {
    var x = document.getElementById("collapse");
    var btn = document.getElementById("btn-main");
    var page = document.getElementById("outer");
    var width = window.innerWidth;
    if (x.style.display === "none") {
      x.style.display = "block";
      btn.textContent = "Close Form";
    } else {
      x.style.display = "none";
      btn.textContent = "Open Form";
    }
  }
</script>
