<link rel="stylesheet" href="/css/signUp.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> -->
<div class="main-outer-container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form action="/employee/create" method="POST">
        <h3>SignUp Here</h3>
        <label for="name">Name</label>
        <input type="name" placeholder="Name" id="name" name="name">

        <label for="username">Email</label>
        <input type="email" placeholder="Email" id="username" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword">

        <button class="form-button" type="submit">Sign Up</button>
    </form>
</div>
