*{
    margin: 0px;
    padding: 0px;
}
/* body */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

/* layout page */
body #layout-main{
    background-color: #bdbbb3;
    min-height: 100vh;
    min-width: 375px;
}


