*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}


body #layout-main{
    background-color: #032d6b;
    min-height: 100vh;
    min-width: 375px;
}


