.main-container{
    height: 111vh;
   
    min-width: 375px;
    background:#6b5d5d ;
    
}

form *{
    color: #ffffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
}

form{
    width: 60%;
    height: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 14px rgb(8 7 16 / 60%);
    padding: 50px 35px;
    background-color: rgba(255,255,255,0.13);
   margin: auto;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #ffffff12;
    border-radius: 6px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    font-weight: bold;

}
::placeholder{
    color: #e5e5e5;
}

